.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 2rem;
  background-color: rgb(29, 29, 29);
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
  color: white;
  margin-left: 50px;
}